services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: cooperative
      POSTGRES_DB: ara-db
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydatabase"]
      interval: 10s
      timeout: 5s
  
  api:
    container_name: ara-api
    volumes:
      - ./:/app # mount the current directory to /app
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl --location 'http://localhost:8000/api/v1/health'"]  
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 40s