name: CI

on:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24 
      - name: install dependencies
        run: go mod download
      - name: build api
        working-directory: ./cmd/api
        run: go build -o ./cmd/api
        
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: install dependencies
        run: go mod download
      - name: run tests
        run: go test -v ./...
